body {padding: 0; margin: 0;}

.snapshot-evrything:hover {
    outline: 1px solid black;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}
body {
    font-family: Verdana;
    font-size: 12px;
}
img {
    border: none none;
}
div#header-menu {
    height: 26px;
    background-color: #7298c3;
    min-width: 800px;
}
div#main {
    clear: both;
}
div#left-bar {
    height: 100%;
    width: 260px;
    float: left;
/*    box-shadow: inset -2px 2px 6px #888888;*/
}
div#central-bar {
    height: 100%;
    float: left;
    background-color: #FFF;
}
div#right-bar {
    height: 100%;
    width: 180px;
    float: left;
}
/* ==== GROUP BOXES ==== */
div.group-box {
    margin: 0 4%;
    border-right: 2px solid #7298c3;
    color: #7298c3;
}
div.group-box-right {
    margin: 0 4%;
    border-left: 2px solid #7298c3;
    color: #7298c3;
}
div.group-box-selected {
    margin: 0 4%;
    border-top: 2px solid #7298c3;
    border-left: 2px solid #7298c3;
    border-bottom: 2px solid #7298c3;
    border-radius: 6px 0 0 6px;
    color: #31608E;
/*    box-shadow: -2px 2px 6px #888888;*/
}
div.group-box-selected-right {
    margin: 0 4%;
    border-top: 2px solid #7298c3;
    border-right: 2px solid #7298c3;
    border-bottom: 2px solid #7298c3;
    border-radius: 0 6px 6px 0;
    color: #31608E;
/*    box-shadow: -2px 2px 6px #888888;*/
}
div.group-box-top {
    margin: 2% 4% 0 2%;
    height: 30px;
    border-right: 2px solid #7298c3;
    border-top: 2px solid #7298c3;
}
div.group-box-top-right {
    margin: 2% 2% 0 4%;
    height: 30px;
    border-left: 2px solid #7298c3;
    border-top: 2px solid #7298c3;
}
div.group-box-top-right > div {
    float: left;
    padding: 8px 0 0 12px;
}
div.group-box-top-right span {
    color: #31608E;
    font-weight: bold;
}
div.group-box-top-right a:link,
div.group-box-top-right a:active,
div.group-box-top-right a:visited {
    color: #31608E;
    text-decoration: none;
}
div.group-box-top-right a:hover {
    color: #31608E;
    text-decoration: underline;
}
div.group-box > div.group-body,
div.group-box > div.group-footer {
    display: none;
}
div.group-box-top img {
    border: none;
}
div.group-box-top div {
    float: left;
    padding: 4px;
}
div.group-box-bottom {
    margin: 0 4% 1% 2%;
    height: 10px;
    border-right: 2px solid #7298c3;
    border-bottom: 2px solid #7298c3;
}
div.group-box-bottom-right {
    margin: 0 2% 1% 4%;
    height: 10px;
    border-left: 2px solid #7298c3;
    border-bottom: 2px solid #7298c3;
}
div.group-header {
    height: 20px;
    padding: 2px 4px 0 2px;
}
div.group-box-selected div.group-header-wrapper,
div.group-box-selected-right div.group-header-wrapper {
    background-color: #7298c3;
    border-radius: 3px;
    height: 18px;
}
div.group-box div.group-header-wrapper {
    background: transparent url(/images/site/g_head_bkp.png) repeat-x scroll left top;
    border-radius: 3px;
    border: 1px solid #7298c3;
    height: 16px;
}
div.group-box-right div.group-header-wrapper {
    background: transparent url(/images/site/g_head_bkp.png) repeat-x scroll left top;
    border-radius: 3px;
    border: 1px solid #7298c3;
    height: 16px;
}
div.group-header-wrapper div.min-ok {
    background-color: #3486D3;
    border: 1px solid #3F80BA;
}
div.group-header-wrapper div.min-warn {
    background-color: #E5DB19;
    border: 1px solid #D1C82B;
}
div.group-header-wrapper div.min-off {
    background-color: #E5E5E5;
    border: 1px solid #CECECE;
}
div.group-header-wrapper div.min-down {
    background-color: #CE1212;
    border: 1px solid #A02020;
}
div.group-header-wrapper div.min-unknown {
    background-color: white;
    border: 1px solid #CECECE;
}

div.group-status-min {
    margin: 3px 0 3px 3px;
    float: left;
    height: 8px;
    width: 8px;
    background-color: #3486D3;
    border: 1px solid #3F80BA;
}
div#left-bar div.group-title, span.group-title, span.group-title {
    float: left;
    text-align: center;
    width: 70%;
    font-weight: bold;
}
div#right-bar div.group-title, span.group-title {
    float: left;
    text-align: left;
    width: 70%;
    font-weight: bold;
    padding-left: 4px;
}
div.group-box-selected div.group-title, span.group-title,
div.group-box-selected-right div.group-title, span.group-title {
    color: #FFF;
    padding-top: 2px;
}
div.group-box div.group-title a:active,
div.group-box span.group-title a:active,
div.group-box span.group-title a:visited,
div.group-box span.group-title a:link,
div.group-box div.group-title a:visited,
div.group-box div.group-title a:link {
    text-decoration: none;
    color: #7298c3;
}
div.group-box span.group-title a:hover,
div.group-box div.group-title a:hover {
    text-decoration: underline;
    color: #7298c3;
}
div.group-box-right span.group-title a:active,
div.group-box-right span.group-title a:visited,
div.group-box-right span.group-title a:link,
div.group-box-right div.group-title a:active,
div.group-box-right div.group-title a:visited,
div.group-box-right div.group-title a:link {
    text-decoration: none;
    color: #7298c3;
}
div.group-box-right span.group-title a:hover,
div.group-box-right div.group-title a:hover {
    text-decoration: underline;
    color: #7298c3;
}
div.group-pos {
    float: right;
    margin: 5px 2px 0 0;
}
div.group-pos div {
    float: left;
}
div.group-actions {
    float: right;
    padding-right: 2px;
}
div.group-item-info {
    float: right;
    padding-right: 2px;
    color: #31608E;
}
div.group-box-selected-right div.group-item-info {
    color: #FFF;
    padding-top: 2px;
}
div.group-actions div {
    float: left;
    margin: 4px 1px 0 1px;
}
div.group-body {
    min-height: 32px;
}
div.group-status {
    float: left;
    margin: 6px;
}
div.group-info {
    float: left;
    font-size: 11px;
}
div.group-info-list {
    margin-left: 24px;
}
div.group-info-list li{
    font-style: italic;
    font-size: 11px;
}
div.group-info-list div.list-item-container {
    min-height: 14px;
    width: 95%;
    font-style: italic;
    font-size: 11px;
}
div.group-info-list div.list-item-title,
div.group-info-list div.list-item-title-selected {
    float: left;
}
div.group-info-list div.list-item-title-selected {
    font-weight: bold;
}
div.group-info-list div.list-item-data {
    float: right;
    color: #31608E;
}
div.group-info-list div a:link,
div.group-info-list div a:active,
div.group-info-list div a:visited {
    text-decoration: none;
    color: #31608E;
}
div.group-info-list div a:hover {
    text-decoration: underline;
    color: #31608E;
}
div.group-footer {
    clear: both;
    height: 3px;
}
/* ==== END OF GROUP BOXES ==== */
/* ==== GROUP LISTS ==== */
table#item-table {
    border-collapse: collapse;
    width: 100%;
}
table#item-table tr {
/*    border-bottom: 1px solid #7298c3; */
    background: transparent url(/images/site/i_entry_bkg.png) repeat-x scroll left top;
    padding: 0;
    height: 26px;
}
table#item-table thead td {
    color: #31608E;
}
table#item-table thead td.non-sorted {
    cursor: pointer;
    background: transparent url(/images/site/non-sorted.png) no-repeat 4px 12px;
    padding-left: 18px;
}
table#item-table thead td.sorted-asc {
    background: transparent url(/images/site/sorted-asc.png) no-repeat 4px 12px;
    cursor: pointer;
    padding-left: 18px;
}
table#item-table thead td.sorted-desc {
    background: transparent url(/images/site/sorted-desc.png) no-repeat 4px 12px;
    cursor: pointer;
    padding-left: 18px;
}
td.item-box-left-stub {
    height: 26px;
    width: 5px;
    background: transparent url(/images/site/i_entry_left.png) no-repeat scroll left top;
}
td.item-box-right-stub {
    height: 26px;
    width: 5px;
    background: transparent url(/images/site/i_entry_right.png) no-repeat scroll left top;
}
td.item-box-image img {
    margin: 2px;
}
td.item-box-actions {
    width: 48px;
}
/*table#item-table tr.even {
    background-color: #ECF0F3;
}*/
td.item-box-data {
    color: #31608E;
    padding: 0 6px 0 6px;
}
td.item-box-title {
    padding: 0 6px 0 6px;
}
td div.item-pos {
    margin: 0 4px 0 0;
}
td div.item-pos div {
    float: left;
}
td.item-box-title span.stub {
    color: #31608E;
}
td.item-box-data span.down {
    color: #F00;
}
td.item-box-data span.ok,
td.item-box-data span.warn {
    color: #028E05;
}
a.item-title-link,
a:visited.item-title-link,
a:active.item-title-link {
    text-decoration: none;
    color: #31608E;
}
a:hover.item-title-link {
    text-decoration: underline;
    color: #31608E;
}
/* ==== END OF GROUP LISTS ==== */
div#site-search {
    float: left;
    display: inline-block;
}
#logout-link {
    display: inline-block;
}
#snapshotEvrything {
    position: relative;
    display: inline-block;
}

#snapshotEvrything > i {
    position: relative;
    top: -5px;
}

.main-menu-item
{
  text-decoration: none;
  color: white;
}

div#main-menu-left {
    float: left;
    width: 30%;
    min-width: 140px;
}
div#main-menu-right {
    float: right;
    width: 25em;
    min-width: 255px;
}
div#main-menu-right div {
    margin-right: 10px;
}
div#main-menu-title {
    margin-top: 2px;
    float: left;
    width: 25em;
    min-width: 140px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
}
div#site-search input[type="text"] {
    margin-top: 5px;
    display: block;
    float: left;
    background-color: #7298c3;
    border: 1px solid #FFF;
    height: 14px;
    color: #FFF;
}
div#site-search input[type="image"] {
    margin-top: 4px;
    margin-left: 4px;
    display: block;
    float: left;
}
div.main-menu-item a:link,
div.main-menu-item a:active,
div.main-menu-item a:visited {
    text-decoration: none;
    color: #FFF;
}
div.main-menu-item a:hover {
    text-decoration: underline;
    color: #FFF;
}
table#comments-table {
    width: 100%;
}
/* MODAL FORMS */
div.combobox,
div.text,
div.select,
div.checkbox,
div.textarea {
/*    margin: 1px;*/
    border: 1px dotted white;
}
.combobox label,
.text label,
.select label,
.checkbox label,
.textarea label
{
    display: block;
    float: left;
    width: 35%;
    text-align: right;
    padding-right: 1%;
}
div.error span.error_message {
    display: block;
    color: #F00;
    margin-left: 36%;
}
div.error input,
div.error textarea,
div.error select {
    background-color: #FFC6C6;
}
.formsubmit {
    margin-left: 35%;
    padding-left: 1%;
    text-align: left;
}
/*.text label[for="username"],
.textarea label[for="comment"] {
    text-decoration: underline;
}*/
div#tab-panel {
    height: 48px;
}
div.tab-panel-item {
    float: left;
    width: 50%;
    text-align: center;
}
/* END OF MODAL FORMS */

/* device */
table.device-details {
    margin: 1% 0 0 4%;
    border: 1px solid #7298c3;
    background: transparent url(/images/site/bkg.png) repeat right bottom;
}
table.device-details tr {
    display: block;
    margin: 0 1px;
}
div#device-common-info div.status-down {
    height: 12px;
    background-color: #FFC5C4;
    color: #E82F2C;
    border: 1px solid #E82F2C;
    font-size: 10px;
    padding: 0 4px 0 4px;
}
div#device-common-info div.status-off {
    height: 12px;
    background-color: #EAEAEA;
    color: #9E9E9E;
    border: 1px solid #9E9E9E;
    font-size: 10px;
    padding: 0 4px 0 4px;
}
div#device-common-info div.status-ok {
    height: 12px;
    background-color: #D3FFDA;
    color: #00B21D;
    border: 1px solid #00B21D;
    font-size: 10px;
    padding: 0 4px 0 4px;
}
td.device-port-cell div.device-port-num {
    min-width: 24px;
    height: 15px;
    text-align: center;
    font-size: 11px;
    margin-bottom: 2px;
}
td.device-port-cell div.device-port-items-count {
    border: 1px solid #7298c3;
    margin-bottom: 2px;
    min-width: 24px;
    height: 15px;
    text-align: center;
    background-color: #FFF;
    font-size: 11px;
}
td.device-port-cell div.device-port-olditems-count {
    border: 1px solid #7298c3;
    margin-bottom: 2px;
    min-width: 24px;
    height: 15px;
    text-align: center;
    background-color: #E3EBF2;
    font-size: 11px;
    display: none;
}
td.device-port-cell div.device-port-num-stub {
    min-width: 24px;
    height: 15px;
    margin-bottom: 6px;
}
td.device-port-cell div.device-port-items-count-stub {
    min-width: 24px;
    height: 15px;
}
span.port-off {
    color: #9E9E9E;
}
span.port-access {
    color: #00B21D;
    font-weight: bold;
}
span.port-trunk {
    color: #F29100;
    font-weight: bold;
}
div#modal-header-title {
    text-align: center;
    font-size: 14px;
}
div#modal-header-control {
    text-align: right;
    padding: 5px 5px 0 0;
}
div#modal-header-control img {
    cursor: pointer;
}
div.device-port-num a.port-off:active,
div.device-port-num a.port-off:visited,
div.device-port-num a.port-off:hover,
div.device-port-num a.port-off:link {
    text-decoration: none;
    color: #9E9E9E;
}
div.device-port-num a.port-access:active,
div.device-port-num a.port-access:visited,
div.device-port-num a.port-access:hover,
div.device-port-num a.port-access:link {
    text-decoration: none;
    color: #00B21D;
    font-weight: bold;
}
div.device-port-num a.port-trunk:active,
div.device-port-num a.port-trunk:visited,
div.device-port-num a.port-trunk:hover,
div.device-port-num a.port-trunk:link {
    text-decoration: none;
    color: #F29100;
    font-weight: bold;
}
div.device-port-num a.port-loop:active,
div.device-port-num a.port-loop:visited,
div.device-port-num a.port-loop:hover,
div.device-port-num a.port-loop:link {
    text-decoration: none;
    color: #FF0000;
    font-weight: bold;
}
div.device-port-items-count a.macs-count:active,
div.device-port-items-count a.macs-count:visited,
div.device-port-items-count a.macs-count:hover,
div.device-port-items-count a.macs-count:link {
    text-decoration: none;
    color: #0e3f76;
}
div.device-port-olditems-count a.oldmacs-count:active,
div.device-port-olditems-count a.oldmacs-count:visited,
div.device-port-olditems-count a.oldmacs-count:hover,
div.device-port-olditems-count a.oldmacs-count:link {
    text-decoration: none;
    color: #0e3f76;
}
/* POPUP WINDOW */
div#mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: #0e3f76; */
    background-color: #FFF;
    visibility: hidden;
    opacity: 0.6;
}
div#viewport {
    position: fixed;
    top: 6%;
    left: 80px;
    z-index: 5;
    height: 600px;
    width: 80%;
    background-color: #FFF;
    visibility: hidden;
/*    border-radius: 10px;*/
    /* box-shadow: 4px 4px 3px #012954; */
    border: 1px solid #7298c3;
    box-shadow: 0 3px 6px #888888;
    color: #0e3f76;
}
div#drop-down-label {
    position: absolute;
    background-color: #FFF;
    z-index: 9999;
    border-left: 1px solid #7298c3;
    border-right: 1px solid #7298c3;
    border-top: 1px solid #7298c3;
    text-align: center;
}
div#drop-down-mask {
    position: absolute;
    background-color: #FFF;
    z-index: 9993;
    border-top: 1px solid #7298c3;
    border-left: 1px solid #7298c3;
    border-right: 1px solid #7298c3;
    box-shadow: 0 3px 6px #888888;
}
div#drop-down-entity {
    background: none repeat scroll 0 0 #FFFFFF;
    /* border: 1px solid #016799; */
    border: 1px solid #7298c3;
    box-shadow: 0 3px 6px #888888;
    padding: 5px 0;
    position: absolute;
    z-index: 9995;
}
div#drop-down-header {
    text-align: center;
}
div#submit-container {
    padding-left: 28%;
}
div#drop-down-header a.title-link:active,
div#drop-down-header a.title-link:visited,
div#drop-down-header a.title-link:link {
    text-decoration: none;
    color: #0e3f76;
}
div#drop-down-header a.title-link:hover {
    text-decoration: underline;
    color: #0e3f76;
}
div#drop-down-header a#drop-down-title-submit,
div#drop-down-header form {
    display: block;
    float: left;
}
div#drop-down-header a#drop-down-title-submit:active,
div#drop-down-header a#drop-down-title-submit:visited,
div#drop-down-header a#drop-down-title-submit:link {
    text-decoration: none;
    color: #0e3f76;
    margin-left: 6px;
}
div#drop-down-header a#drop-down-title-submit:hover {
    text-decoration: underline;
    color: #0e3f76;
    margin-left: 6px;
}
input[name="tag-text"] {
    width: 180px;
    height: 12px;
    border: 1px solid #7298c3;
    background-color: #FFFED1;
    font-size: 11px;
}
div#mac-list {
    max-height: 200px;
    overflow: auto;
    border: 1px solid #7298c3;
    margin: 0 2px -2px 2px;
    min-width: 256px;
}
div#mac-list table {
    color: #0e3f76;
    font-size: 11px;
    border-collapse: collapse;
    width: 100%;
}
table#mac-list-table thead tr{
    background-color: #DEE7F2;
    border-bottom: 1px solid #0e3f76;
}
table#mac-list-table tbody tr.even{
    background-color: #EAF0F7;
}
table#mac-list-table th.non-sorted {
    cursor: pointer;
    background: transparent url(/images/site/non-sorted.png) no-repeat 4px 5px;
    padding-left: 6px;
}
table#mac-list-table th.sorted-asc {
    background: transparent url(/images/site/sorted-asc.png) no-repeat 4px 5px;
    cursor: pointer;
    padding-left: 6px;
}
table#mac-list-table th.sorted-desc {
    background: transparent url(/images/site/sorted-desc.png) no-repeat 4px 5px;
    cursor: pointer;
    padding-left: 6px;
}
a.show-hidden:active,
a.show-hidden:visited,
a.show-hidden:link {
    text-decoration: none;
    color: #0e3f76;
}
a.show-hidden:hover {
    text-decoration: underline;
    color: #0e3f76;
}
a.ping-link:active,
a.ping-link:visited,
a.ping-link:link {
    text-decoration: none;
    color: #0e3f76;
}
a.ping-link:hover {
    text-decoration: underline;
    color: #0e3f76;
}
div#device-common-info-left {
    float: left;
}
div#device-common-info-right {
    float: right;
}
/* login page */
div#login-box {
    margin: 10% 25%;
    border: 1px solid #7298c3;
    padding: 0 2%;
    color: #31608E;
}
div#login-box-header {
    padding: 2%;
    font-weight: bold;
    font-family: Verdana,Arial,sans-serif;
    font-size: 16px;
    border-bottom: 1px solid #7298c3;
    text-align: center;
}
div#login-box-footer {
    padding: 2%;
    font-family: Verdana,Arial,sans-serif;
    font-size: 12px;
    border-top: 1px solid #7298c3;
    text-align: center;
}
div#login-box-body {
    padding: 2%;
    font-family: Verdana,Arial,sans-serif;
    font-size: 12px;
}
div#login-box-body div {
    height: 28px;
}

.narrow
{
  font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  font-weight: normal;
}

div.cpu-bar
{
  overflow: hidden;
  height: 10px;
  width: 20px;
  border: 1px solid rgb(200,200,250);
  background: white;
  margin:0;
  padding: 0;
  margin-right: 0.5em;
}

div.cpu-bar-progress
{
  background: #31608E;
  margin:0;
  padding: 0;
  height: 10px;
}

div.green-progress
{
  background: darkgreen;
  margin:0;
  padding: 0;
  height: 10px;
}

/***********************************/

table.nice-table {
  border-collapse: collapse;
  width: 98%;
  margin: 1em;
}

table.nice-table tr
{
  border: 1px solid #7298c3;
  background-image: linear-gradient(top, rgb(250,250,250) 0%, rgb(215,237,245) 100%);
  background-image: -moz-linear-gradient(top, rgb(250,250,250) 0%, rgb(215,237,245) 100%);
  background-image: -webkit-linear-gradient(top, rgb(250,250,250) 0%, rgb(215,237,245) 100%);
  padding: 0;
}

table.nice-table th {
  color: #31608E;

}

table.nice-table td {
 padding: 0.5em;
}

table.nice-table > strong
{
  color: green;
  font-weight: bold;
}

.areas-slider, .devices-slider, .domains-slider
{
  width: 250px;
  border: 1px solid #29216d;
  background: white;
}

.handle-box {
  opacity: 0.5;
}

.handle-box:hover
{
  opacity: 1;
}

.handle, .handle1, .handle2
{
  box-shadow: 0 0 10px rgba(0,0,0,1);
}

#notify-window
{
  background: black;
  width: 20em;
  border: solid 1px white;
  margin: 1px;
  padding: 0.7em;
  position: fixed;
  box-shadow: 5px 5px 7px gray;
  bottom: 5px;
  right: 5px;
}

.notification
{
  color: white;
  list-style-type: circle;
  margin-bottom: 0.7em;
}

.notification:before
{
  content: "\25B8\a0";
}

#ws-star
{
  cursor: default;
  color: gray;
}

#ws-star.enabled
{
  color: rgb(205,205,255);
}

.triangle
{
  color: gray;
  text-decoration: none;
}

.mac-chain-1
{
  color: blue !important;
}

.mac-chain-2
{
  color: green !important;
}

.mac-chain-3
{
  color: red !important;
}

.mac-chain-4
{
  color: yellow !important;
}

.mac-chain-5
{
  color: cyan !important;
}

.mac-chain-6
{
  color: purple !important;
}

.mac-chain-7
{
  color: magenta !important;
}

.mac-chain-8
{
  color: violet !important;
}

.mac-chain-9
{
  color: gray !important;
}

.mac-chain-10
{
  color: brown !important;
}

.mac-chain-11
{
  color: DarkOrange !important;
}

.mac-chain-12
{
  color: AntiqueWhite !important;
}

.mac-chain-13
{
  color: Aqua !important;
}

.mac-chain-14
{
  color: Aquamarine !important;
}

.mac-chain-15
{
  color: DarkYellow !important;
}

.mac-chain-16
{
  color: DarkRed !important;
}

.mac-chain-17
{
  color: Bisque !important;
}

.mac-chain-18
{
  color: BlanchedAlmond !important;
}

.mac-chain-19
{
  color: BlueViolet !important;
}

.mac-chain-20
{
  color: BurlyWood !important;
}

.mac-chain-21
{
  color: CadetBlue !important;
}

.mac-chain-22
{
  color: Chartreuse !important;
}

.mac-chain-23
{
  color: Chocolate !important;
}

.mac-chain-24
{
  color: Coral !important;
}

.mac-chain-25
{
  color: CornFlowerBlue !important;
}

.mac-chain-26
{
  color: CornSilk !important;
}

.mac-chain-27
{
  color: Crimson !important;
}

.mac-chain-28
{
  color: DarkBlue !important;
}

.mac-chain-29
{
  color: DarkCyan !important;
}

.mac-chain-30
{
  color: DarkGreen !important;
}
